@import "bootstrap-scss/bootstrap";

// Comunes

.with20rem {
    width: 22rem;
}

.hidden {
    visibility: hidden;
}

.with4rem {
    width: 3rem;
}

.cPointer {
    cursor: pointer;
}

.minEventGroupWrapper {
    max-width:100%;
    // padding:50px 75px 50px 45px;
    position:relative;
}

.clearfix {
    overflow: scroll;
    overflow-x:hidden;
    // overflow-x: auto; for testing
    overflow-y:hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.clearfix > div {
    display: inline-block;
    float: none;
}

.wrapperIcon {
    position: absolute;
    top: 150px;
    z-index: 99;
    width: 100%;
}

.w-30 {
    width: 300px !important;
}